@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap 100,200,300,400,500,600,700|Exo 100,200,300,400,500,600,700');
/*---------------------------------colors */

body {
   font-family: 'Roboto', sans-serif;
  background-color:#fafafa; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
/*---------------------------------call out */
 
.call-to-action { 
    height:100px;
    background-color: black;
    font-size:20px;
    font-weight: 600px;
    color: #fff;
    text-align: center;
    padding-top:30px;
    margin: 0;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #7e7e7e
   }
/*---------------------------------nav-container */
.navbar-collapse {
 background-color: #fff;
 
 }

.nav-bar {
 font-size: 26px;
 font-weight: 600px;   
}
/*---------------------------------Logo */
.logo {
    color:#7e7e7e;
    font-weight: 900px;
    text-shadow: 2px 2px 4px #25292A
    padding-top: 10px;
    padding-bottom: 20px;
    padding: left 100px;
    display: flex;
    justify-content: left;
        flex-wrap: nowrap;
   }
 /*---------------------------------headliner */
 .healiner {
     text-color:7e7e7e;
     display: flex;
     justify-content: center;
 }
 .blockquote {
    padding-top: 0px;
     padding-left: 10px;
     padding-right: 5px;
     color: #7e7e7e;
     
 }
  /*---------------------------------feature space */
.media {
    height: 250px;
    width: 250px;
    text-align: right;
    float: left;
    flex-wrap: wrap;
    padding: left;
} 

/*---------------------------------Footer */
.card-footer {
   background-color: black;
   justify-content: center;
   text-align: center;
   font-weight: 600px;
   color:#fff;
   text-shadow: 0 0 3px #FF0000, 0 0 5px #7e7e7e
}
   
